@media only screen and (max-width: 1024px) {
  nav {
    max-width: 98%;
  }

  header button {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }

  nav {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 85%;
  }

  li {
    padding: 1rem 1.1rem;
  }

  .menu {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }

  .nav li {
    padding: 20px;
    
}

.nav li a {
    font-size: 2rem;
}

  ul {
    background-color: #161515;
    width: 100%;
    height: calc(100vh - 100px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 8rem;
    left: -100%;
  }

  #click:checked ~ ul {
    left: 0%;
    transition: all 0.3s ease;
  }
}
