* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/*navbar */
.header {
  background-color: #EFEFEF;
  padding: 20px 35px 0px;
  backdrop-filter: blur(10px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1940px;
  margin: auto;
}

.nav .logo {
  font-size: 1.3rem;
  font-weight: 800;
}

.nav .logo a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}

.nav li {
  padding: 0rem 1.1rem;
  float: left;
}

.nav li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 0.7px;
}

.nav li a.active,
li a:hover {
  color: red;
  transition: all 0.3s ease-in-out;
}

.nav button {
  padding: 15px 30px;
  background: linear-gradient(90deg, #ff0000, #ff7b00);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border: transparent;
}

.nav button a {
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
}

.nav #click {
  display: none;
}

.menu {
  display: none;
}
/* end navbar */

/* section home */
.home {
  background-color: #EFEFEF;
  text-align: center;
  padding-top: 30px;
}

.home img {
  margin: auto;
  width: 99%;
  border-radius: 15px;
  vertical-align: sub;
}
/* end section home */

/* section menu */
.section-menu {
  background-color: #EFEFEF;
  padding: 20px 0;
  color: black;
}

.section-menu h1 {
  color: red;
}

.section-menu .seach {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgb(238, 239, 243);
  margin-bottom: 20px;
}

.section-menu .seach button {
  padding-inline: 20px;
  border-radius: 20px;
}


.section-menu .seach .form-control:focus {
  box-shadow: none;
}

.section-menu .form-inline .form-control {
  border: none;
}

.categorias {
  flex-wrap: wrap;
  gap: 10px;
}

.categorias .btn {
  padding: 10px;
  margin: 4px;
  background-color: rgba(255, 123, 0, 0.8);
  border-radius: 25px;
}

.categorias .btn:hover {
  background-color: red;
}

.section-menu h1 {
  margin-top: 30px;
  font-size: 3rem;
}

.section-menu .menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0px;
  gap: 30px;
}

.menu-cards {
  cursor: pointer;
  border-radius: 20px;
  padding: 40px 20px;
  max-width: 900px;

  display: flex;
  align-items: center;
  flex: auto;
  gap: 20px;
}

.menu-cards:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu-cards img {
  width: 12rem;
  border-radius: 10px;
}

.menu-cards .card-body {
  padding: 0;
}

.menu-cards .card-title {
  font-size: 2rem;
  color: #ff7b00;
}

.menu-cards .btn {
  background-color: #ff7b00;
  padding: 8px 40px;
  border-radius: 20px;
  font-size: 1.4rem;
  border: none;
}



.card-text h2,
.card-text span {
  color: rgb(255, 94, 0);
}

.card-text p {
  font-size: 1rem;
  padding: 10px 0px;
}

.card-text span {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 1.4rem;
}



/* footer */
footer {
  background-color: #ff8a1d;
  
}

.footer {
  max-width: 1200px;
  margin: auto;
  padding: 55px 30px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.footer .contato, 
.footer .social {
  padding: 10px;
}

.footer .contato span, 
.footer .social span {
  color: red;
  fill: rgb(255, 0, 0);
}

.footer .contato a {
  padding-bottom: 5px;
}

.footer .contato a, 
.footer .social a {
  color: #EFEFEF;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .contato a:hover,
.footer .social a:hover {
  text-decoration: none;
}


/* end footer */