* {
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
    text-decoration: 0;
}

div.video {
  position: relative;
  margin: 10px -10px 10px -10px;
  padding-bottom: 50%;
}
div.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
