* {
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
    text-decoration: 0;
}

div.video {
  position: relative;
  border: 5%;
  padding-bottom: 56.25%; /* proporção 16:9 (9/16 * 100) */
}
div.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
